body
{
    background-color: white;
    font-family: "Gill Sans", sans-serif;
}

main
{
    border: 3px solid blueviolet;
    padding: 20px;
    margin: auto;
    width: 70%;
    height: 800px;
    border-radius: 8px;
    background-color: grey;
}

header
{
}

.cl1
{
    margin: auto;
    width: 47%;
    height: 100px;
    float: left;
}
.cl2
{
    margin: auto;
    width: 47%;
    height: 115px;
    float: right;

}

.img1
{
    width: 100px;
    height: 100px;
    float: right;
}

section{
	border: 3px solid lightgrey;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    clear: both;
    height: 200px;
    	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.cl3
{
    border: 0px solid darkred;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 20%;
    height: 200px;
    float: left;
}
.cl4
{
    border: 0px solid darkred;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 75%;
    height: 200px;
    float: right;
}
.cl5
{
    border: 0px solid darkred;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 47%;
    height: 200px;
    float: left;
}
.cl6
{
    border: 0px solid darkred;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 47%;
    height: 200px;
    float: right;
}
.cl7
{
    border: 0px solid darkred;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 47%;
    height: 200px;
    float: left;
}
.cl8
{
    border: 0px solid darkred;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 47%;
    height: 200px;
    float: right;
}