h1{
    font-family: Verdana;
    color: grey;
    text-shadow: 1px 1px 1px black;
}
button{
    background-color: #363839;
    border: 2px solid grey;
    border-radius: 30px;
    box-shadow: grey 4px 4px 0 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 27px;
    padding: 0 18px;
    line-height: 50px;
    font-family: verdana;
    text-align: center;
    text-decoration: none;
    user-select: none;
    transition: 0.1s;
    width: 400px;
    margin: 10px;
}
button:hover{
    background-color:black;
    transform: translate(4px, 4px);
    box-shadow: none;
}

body{ 
    background-color: black;
}